// Desktop
@screen lg {
    .desktop-design > div {
        // opacity: 0.6;
    
        &:before {
            position: absolute;
            background-image: url('../img/bg-pattern-top.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            content: '';
            width: calc(200%/3);
            height: 135%;
            left: -18.5%;
            top: -70%;
        }

        &:after {
            position: absolute;
            background-image: url('../img/bg-pattern-bottom.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            content: '';
            width: calc(200%/3);
            height: 48%;
            top: 52%;
            left: 48.25%;
        }
    }
}

@screen sm {
    .mobile-design > div {
        // opacity: 0.6;

        &:before {
            position: absolute;
            background-image: url('../img/bg-pattern-top.svg');
            content: '';
            height: 100%;
            width: 100%;
            left: -46%;
            top: -27%;
        }

        &:after {
            position: absolute;
            background-image: url('../img/bg-pattern-bottom.svg');
            content: '';
            width: 157%;
            height: 100%;
            top: 54%;
            left: 44%;
        }
    }
}